<div class="d-flex chrome flex-column">
  <header class="d-flex">
    <span class="menu icon">
      <i class="fa fa-bars" aria-hidden="true"></i>
      <div class="win-menu">

      </div>
    </span>
    <div class="flex-fill title draggable">
      <ng-content select="[WIN-TITLE]">
      </ng-content>
    </div>
    <div class="qab">
      <ng-content select="[qab]"></ng-content>
    </div>
    <div class="chrome-controls">
      <span class="icon">
        <i class="fa fa-window-minimize" aria-hidden="true"></i>
      </span>
      <span class="icon">
        <i class="fa fa-window-maximize" aria-hidden="true"></i>
      </span>
      <span class="icon">
        <i class="fa fa-times" aria-hidden="true" (click)="close.next()"></i>
      </span>
    </div>
  </header>
  <div class="d-flex flex-fill content-host">
    <div class="content">
      <ng-content select="[WIN-BODY]">

      </ng-content>
    </div>

  </div>
  <footer class="d-flex">
    <ng-content select="[WIN-FOOTER]">
    </ng-content>
  </footer>
</div>
